
.post-block {
  /* padding-left: 5%; */
}

 .post-header {
   /* grid-row: 1/2; */
   /* grid-column: 3/12; */
}

.message-404{
  text-align: left;
  font-size: 1.2em;
}

.post-text {
  border-bottom: #E8491D 1px solid;
  padding-bottom: 1.5em;
}

.post-block p {
  padding: 0.5em 1em;
  text-align: justify;
}

.comment-form {
  padding: .5em 0 1em 0;
  text-align: left;
}

.comment-author {
  /* background-color: yellow; */
  min-height: 2em;
  min-width: 30%;
  padding-right: 15em;
}

.comment-body {
  padding-top: .5em;
}

.input-btn {
  style: none;
  padding-left: 2em;
}

.input-btn button {
  background-color: #333;
  color: #fff;
}

.input-btn button:disabled {
  color: #6D6D6D;
}

.comment-section li:nth-child(even) {
  background: #555;
}

.comment-section li:nth-child(odd) {
  background: #676767;
}

.modal-login-form {
}

.modal-fieldset {
  min-height: 7em;
  border: 2px ridge;
  color: #111;
  background: #fff;
}
.modal-user-login-input {
}
.modal-btn {
  border: none;
  margin-left: .5em;
}
